body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    color: white;
    background: #1F2937;
    display: flex;
    justify-content: space-between; /* pushes the two sides apart in the header*/
}

.l-links{

}

.r-links{
    
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding-right: 10px;
}

.content{
    color:black;
}

.topcontent{
    display:flex;
    justify-content: space-around;
    background: #1F2937;
    font-size: 22px;
}

.introL{
    color: white;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 50px;

}

.btn1{
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}
.btn1:hover{
    background-color:#6c99e1 ;
}

.introR{
padding: 50px;
display: flex;
flex-direction: column;
justify-content: center;
}

.head2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    align-items: center;
    padding-top: 25px;
}
.boxesline{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.boxCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0px 45px;
}

em{
    text-align: center;
    font-size: 18px;
}
.boxes{
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.quoteblock{
    background: #e5e7eb;
    display: flex;
    justify-content: center;    
    padding:75px;
}

.quotetxt{
    width: 60%;
}

em.quotetxt{
    font-size: 32px;
}

.actionBox{
    display: flex;
    justify-content: center;
    height: 300px;
    padding:100px;
}

.blueBox{
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #e5e7eb;
    width: 75%;
    height: 75%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.blueLside{
    flex-direction: column;
    padding-right: 50px;
}

.blueRside{

}

.btn2{
    background-color: #3882F6;
    color: white;
    border: 2px solid white ;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}
.btn2:hover{
    background-color:#6c99e1 ;
}

.footer{
    display: flex;
    background: #1F2937;
    color: white;
    justify-content: center;
    padding: 25px;
    font-size: 18px;
}